<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Trang chủ</a>
      </li>
      <li class="active">Quản lý sản phẩm</li>
    </ul><!-- /.breadcrumb -->
    <div class="nav-search">
      <p class="pull-right no-margin">
        <a (click)="createModal()" class="btn btn-success btn-xs">
          <i class="fa fa-plus"></i>&nbsp;Thêm
        </a>
      </p>
    </div>
  </div>
  <div class="row">
  
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal"  [formGroup]="formsearch"  (ngSubmit)="search()">
          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right">Tên sách</label>
            <div class="col-sm-11">
              <input formControlName="tensach"  type="text" placeholder="Tên sản phẩm" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right"></label>
            <div class="col-sm-11">
              <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
            </div>
          </div>
        </form> 
      </p-panel>
      <p-table selectionMode="single" [value]="sachs" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50px; text-align: center;">STT</th>
            <th style="width: 50px; text-align: left;">Mã sách</th>
            <th style="width: 10%; text-align: left;">Tên sách</th>
            <th style="width: 8%; text-align: left;">Hình ảnh</th>
            <th style="width: 35%; text-align: left;">Mô tả</th>
            <th style="width: 50px; text-align: left;">Chủ đề</th>
            <th style="width: 60px; text-align: left;">Nhà xuất bản</th>
            <th style="width: 50px; text-align: left;">Số lượng</th>
            <th style="width: 60px; text-align: left;">Giá bán</th>
            <th style="width: 120px; text-align: left;">Tác vụ</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item  let-i="rowIndex">
          <tr>
            <td style="width: 100px; text-align: center;">{{ i + 1 }}</td>
            <td>{{ item.masach }}</td>
            <td>{{ item.tensach }}</td>
            <td><img style="width:70px;" src="../assets/images/{{item.anhbia}}"/></td>
            <td>{{ item.mota }}</td>
            <td>{{ item.cd.tenchude }}</td>
            <td>{{ item.nxb.tennxb }}</td>
            <td>{{ item.soluongton }}</td>
            <td>{{ item.giaban }}</td>
            <td class="action-col" >
              <div class="btn-group">
                <button title="" class="btn btn-xs btn-white btn-default"  (click)="openUpdateModal(item)">  
                  <i class="ace-icon fa fa-edit"></i>
                </button>
                <button title="" class="btn btn-xs btn-white btn-default" (click)="onDelete(item)">
                  <i class="ace-icon fa fa-trash"></i>
                </button>
              </div>  
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- PAGE CONTENT ENDS -->
    </div>
    <div class="col-xs-12" style="text-align: right;">
      <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade">
      <div class="modal-dialog modal-lg full-height-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin sản phẩm</h4>
            <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin sản phẩm</h4>
          </div>
          <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
            <div class="modal-body no-padding">
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Tên sản phẩm</label>
                <div class="col-sm-5">
                  <input type="text" placeholder="Tên sản phẩm" formControlName="tensach"/>
                  <div *ngIf="submitted && f.tensach.errors" class="invalid-feedback">
                    <div *ngIf="f.tensach.errors.required">Tên sản phẩm là bắt buộc</div>
                  </div>
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Chủ đề</label>
                <div class="col-sm-5">
                 <select formControlName="machude" id="">
                   <option *ngFor="let cd of chudes" [value]="cd.machude">{{cd.tenchude}}</option>
                 </select>
                  <div *ngIf="submitted && f.machude.errors" class="invalid-feedback">
                    <div *ngIf="f.machude.errors.required">Chủ đề là bắt buộc</div>
                </div>
                </div>
              </div>
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Nhà xuất bản</label>
                <div class="col-sm-5">
                  <select formControlName="manxb" id="">
                    <option *ngFor="let nxb of nxbs" [value]="nxb.manxb">{{nxb.tennxb}}</option>
                  </select>
                  <div *ngIf="submitted && f.manxb.errors" class="invalid-feedback">
                    <div *ngIf="f.manxb.errors.required">Nhà xuất bản là bắt buộc</div>
                </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Số lượng tồn</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="soluongton" placeholder="Số lượng tồn" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Mô tả</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="mota" placeholder="Mô tả" />
                </div>
              </div>
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Đơn giá</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="giaban" placeholder="Đơn giá" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Ảnh</label>
                <div class="col-sm-10">
                  <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel ="Chọn ảnh"   multiple="false" accept="image/*" maxFileSize="1000000">
                      <ng-template pTemplate="content">
                          <img *ngIf="sach && sach.anhbia" style="height: 100px;width: 100px;" [src]="sach.anhbia">
                      </ng-template>
                </p-fileUpload>
                </div>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
              <i class="fa fa-bell"></i> Làm mới
            </button>
            <button type="submit" class="btn btn-success btn-sm btn-submit">
              <i class="fa fa-save"></i> Đồng ý
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
              <i class="fa fa-times"></i> Đóng lại
            </button>
          </div>
        </form>  
        </div>
      </div>
    </div>